stages:
  - build

build_and_push:
  stage: build
  tags:
    - docker

  image: docker:24

  services:
    - name: docker:24-dind
      command:
        - "--insecure-registry=10.129.4.175:5050"

  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""

  script:
    # Connexion automatique à la registry GitLab
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"

    # Build de l'image Docker à partir du Dockerfile
    - docker build -t "$CI_REGISTRY_IMAGE/sae-test:$CI_COMMIT_SHORT_SHA" .

    # Push de l'image vers la registry GitLab
    - docker push "$CI_REGISTRY_IMAGE/sae-test:$CI_COMMIT_SHORT_SHA"