stages:
  - build

variables:
  IMAGE_NAME: "$CI_REGISTRY_IMAGE/sae-test"
  IMAGE_TAG: "$CI_COMMIT_SHORT_SHA"

build_and_push:
  stage: build
  tags:
    - docker

  image: docker:24

  services:
    - name: docker:24-dind
      command:
        - "--insecure-registry=10.129.5.9:5050"

  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""

  script:
    - echo "Build de l'image Docker..."
    - echo "Image $IMAGE_NAME:$IMAGE_TAG"
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "http://$CI_REGISTRY"
    - docker build -t "$IMAGE_NAME:$IMAGE_TAG" -t "$IMAGE_NAME:latest" .
    - echo "Push de l'image avec le tag $IMAGE_TAG"
    - docker push "$IMAGE_NAME:$IMAGE_TAG"
    - echo "Push de l'image avec le tag latest"
    - docker push "$IMAGE_NAME:latest"
    - echo "Images buildees et pushees avec succes"

  only:
    - main
    - master