apiVersion: apps/v1
kind: Deployment
metadata:
  name: sae-app
  namespace: sae-production
  labels:
    app: sae-app
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  selector:
    matchLabels:
      app: sae-app
  template:
    metadata:
      labels:
        app: sae-app
    spec:
      containers:
      - name: sae-app
        image: 10.129.5.159:5050/root/sae-dev6.01/sae-test:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
      imagePullSecrets:
      - name: gitlab-registry-secret
