apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: default
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
      external_labels:
        monitor: 'addrservice-monitor'
    
    scrape_configs:
      - job_name: 'addrservice'
        metrics_path: '/metrics'
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_app]
            action: keep
            regex: addrservice
          - source_labels: [__meta_kubernetes_pod_container_port_number]
            action: keep
            regex: "8080"